<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/shivmani.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row start">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="give_thanks">GIVE THANKS IN STYLE WITH MAIZE HOODIES</h1>
                <p class="discover">Discover Cozy and Fashionable Hoodies for YourThanksgiving Celebrations</p><br><br>
                <div class="d-grid gap-2 col-6 mx-start">
                    <button class="shop">SHOP NOW & SAVE 20%</button>
                </div>

            </div>
            <div class="col-lg-6  col-md-6 col-sm-12">
                <img src="/assets/images/photo/start girl image.webp" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <!-- ********************************************************************** -->
    <div class="second_part">
        <h1 class="trending py-5">TRENDING NOW</h1>
        <div class="container padding ">
            <div class="row row-cols-1 row-cols-md-4 g-4 ">
                <div class="col ">
                    <div class="card shadow-sm rounded-4">
                        <img src="/assets/images/photo/Untitleddesign_1.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="autumn_breeze_hoodie">Autumn Breeze Hoodie</h6>
                            <p class="rupes">$49.99</p>
                            <div class="card_color">
                                <div class="color_1 "></div>
                                <div class="color_2 ms-2"></div>
                                <div class="color_3 ms-2"></div>
                            </div>
                            <br>
                            <button class="s ms-2">S</button>
                            <button class="m ms-4">M</button>
                            <button class="l ms-4">L</button>
                            <button class="xl ms-4">XL</button>
                            <br><br>
                            <div class="d-grid gap-2">
                                <button class="add_to_cart">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm rounded-4">
                        <img src="/assets/images/photo/Untitleddesign_2.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="autumn_breeze_hoodie">Cozy Comfort Hoodie</h6>
                            <p class="rupes">$54.99</p>
                            <div class="card_color">
                                <div class="color_4 "></div>
                                <div class="color_5 ms-2"></div>
                                <div class="color_6 ms-2"></div>
                            </div>
                            <br>
                            <button class="s ms-2">S</button>
                            <button class="m ms-4">M</button>
                            <button class="l ms-4">L</button>
                            <button class="xl ms-4">XL</button>
                            <br><br>
                            <div class="d-grid gap-2">
                                <button class="add_to_cart">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm rounded-4">
                        <img src="/assets/images/photo/Untitleddesign_3.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="fastive_fall_hoodiae">Festive Fall Hoodie</h5>
                            <p class="rupes">$59.99</p>
                            <div class="card_color">
                                <div class="color_7 "></div>
                                <div class="color_8 ms-2"></div>
                                <div class="color_9 ms-2"></div>
                            </div>
                            <br>
                            <button class="s ms-2">S</button>
                            <button class="m ms-4">M</button>
                            <button class="l ms-4">L</button>
                            <button class="xl ms-4">XL</button>
                            <br><br>
                            <div class="d-grid gap-2">
                                <button class="add_to_cart">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm rounded-4">
                        <img src="/assets/images/photo/Untitleddesign_4.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="advance_grey_hoodie">Adventure Grey Hoodie</h5>
                            <p class="rupes">$59.99</p>
                            <div class="card_color">
                                <div class="color_10 "></div>
                                <div class="color_11 ms-2"></div>
                                <div class="color_12 ms-2"></div>
                            </div>
                            <br>
                            <button class="s ms-2">S</button>
                            <button class="m ms-4">M</button>
                            <button class="l ms-4">L</button>
                            <button class="xl ms-4">XL</button>
                            <br><br>
                            <div class="d-grid gap-2">
                                <button class="add_to_cart">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ****************************************************** -->

    <section class="section3_design">
        <div class="container text-center">
            <h1 class="text-center fw-bold display-5 text-light cozy">Cozy & Comfortable This <br> Thanksgiving</h1>
            <p class="text-center this_thankgiving">This Thanksgiving, express gratitude in style with our premium
                hoodies. Embrace the
                warmth and joy of the holiday while staying comfortable and fashionable. Shop now to elevate your
                Thanksgiving celebration with Maize.
            </p>
            <button class="shop_button">SHOP NOW</button>
        </div>
    </section>






    <!-- **************************************************************************** -->

    <div class="fourth_line">
        <h1 class="top_pics py-5">Top Picks For Thanksgiving</h1>
        <div class="gift_for_him_her">
            <p class="gift_for_him">Gift for him</p>&nbsp;&nbsp;
            <p class="gift_for_her">Gift for her</p>
        </div>
        <div class="container padding">
            <div class="row row-cols-1 row-cols-md-4 g-4 ">
                <div class="col">
                    <div class="card shadow-sm rounded-4">
                        <img src="/assets/images/photo/1.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="autumn_breeze_hoodie">Grateful Harvest Hoodie</h6>
                            <p class="rupes">$59.99</p>
                            <div class="card_color">
                                <div class="color_13 "></div>
                                <div class="color_14 ms-2"></div>
                                <div class="color_15 ms-2"></div>
                            </div>
                            <br>
                            <button class="s ms-2">S</button>
                            <button class="m ms-4">M</button>
                            <button class="l ms-4">L</button>
                            <button class="xl ms-4">XL</button>
                            <br><br>
                            <div class="d-grid gap-2">
                                <button class="add_to_cart">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col ">
                    <div class="card shadow-sm rounded-4">
                        <img src="/assets/images/photo/2.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="autumn_breeze_hoodie">Autumn Maize Hoodie</h6>
                            <p class="rupes">$74.99</p>
                            <div class="card_color">
                                <div class="color_16 "></div>
                                <div class="color_17 ms-2"></div>
                                <div class="color_18 ms-2"></div>
                            </div>
                            <br>
                            <button class="s ms-2">S</button>
                            <button class="m ms-4">M</button>
                            <button class="l ms-4">L</button>
                            <button class="xl ms-4">XL</button>
                            <br><br>
                            <div class="d-grid gap-2">
                                <button class="add_to_cart">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="colshadow-sm rounded-4">
                    <div class="card shadow-sm rounded-4">
                        <img src="/assets/images/photo/3.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="fastive_fall_hoodiae">Cozy Cabin Hoodie</h5>
                            <p class="rupes">$49.99</p>
                            <div class="card_color">
                                <div class="color_19 "></div>
                                <div class="color_20 ms-2"></div>
                                <div class="color_21 ms-2"></div>
                            </div>
                            <br>
                            <button class="s ms-2">S</button>
                            <button class="m ms-4">M</button>
                            <button class="l ms-4">L</button>
                            <button class="xl ms-4">XL</button>
                            <br><br>
                            <div class="d-grid gap-2">
                                <button class="add_to_cart">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm rounded-4">
                        <img src="/assets/images/photo/4.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="advance_grey_hoodie">Fireside comfort Hoodie</h5>
                            <p class="rupes">$65.99</p>
                            <div class="card_color">
                                <div class="color_22 "></div>
                                <div class="color_23 ms-2"></div>
                                <div class="color_24 ms-2"></div>
                            </div>
                            <br>
                            <button class="s ms-2">S</button>
                            <button class="m ms-4">M</button>
                            <button class="l ms-4">L</button>
                            <button class="xl ms-4">XL</button>
                            <br><br>
                            <div class="d-grid gap-2">
                                <button class="add_to_cart">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ****************************************five**************************** -->
    <div class="fiveth">
        <div class="container">
            <h1 class="thanksgiving">Thanksgiving Season Specials</h1>
            <br><br>
            <hr>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="image1">
                        <img src="/assets/images/icon/icons8-discount-48.png" alt="">
                    </div>
                    <h4 class="exclusive">Exclusive Discounts</h4>
                    <p class="enjoy">Enjoy extra savings during the Thanksgiving season with our exclusive discount
                        code: THANKS20</p>
                </div>
                <div class="col-lg-4">
                    <div class="image1">
                        <img src="/assets/images/icon/icons8-van-32.png" alt="">
                    </div>
                    <h4 class="free">Free Shipping</h4>
                    <p class="were">We're spreading the holiday cheer by offering free shipping on all orders placed
                        during the Thanksgiving season.</p>
                </div>
                <div class="col-lg-4">
                    <div class="image1">
                        <img src="/assets/images/icon/icons8-gift-48.png" alt="">
                    </div>
                    <h4 class="free_gift">Free Gift Wrapping</h4>
                    <p class="wrapping">Free gift wrapping during Thanksgiving. Make your hoodie purchases extra special
                        with beautifully wrapped packages.</p>
                </div>
            </div><br><br>
            <center> <button class="saved">SHOP NOW AND SAVED!</button></center><br><br><br>
        </div>
    </div>
    <!-- ********************************************************************************************** -->
    <div class="sixth">

        <h1 class="what_our_customers py-5 ">What Our Customers say</h1>
        <div class="container padding">
            <div class="row ">
                <div class="col-lg-4 col-md-4 g-4">
                    <div class="card h-100 shadow-sm rounded-4">
                        <img src="/assets/images/photo/5.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text_1 text_start">I absolutely love my Maize hoodie! The quality is
                                outstanding, and it
                                keeps
                                me warm and cozy during the colder months. Highly recommend!
                            </p>
                            <div class="name_star">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5 class="box_text">Sarah Davis</h5>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="/assets/images/icon/icons8-star-48.png" height="25px" alt="">
                                        <img src="/assets/images/icon/icons8-star-48.png" height="25px" alt="">
                                        <img src="/assets/images/icon/icons8-star-48.png" height="25px" alt="">
                                        <img src="/assets/images/icon/icons8-star-48.png" height="25px" alt="">
                                        <img src="/assets/images/icon/icons8-star-48.png" height="25px" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 g-4">
                    <div class="card h-100 shadow-sm rounded-4">
                        <img src="/assets/images/photo/6.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text_1 text_start">Maize hoodies are my go-to for both style and comfort. The
                                designs
                                are trendy, and the fit is perfect. I get compliments every time I wear one!
                            </p>
                            <div class="name_star">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5 class="box_text">Emily Johnson</h5>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="/assets/images/icon/icons8-star-48.png" height="25px" alt="">
                                        <img src="/assets/images/icon/icons8-star-48.png" height="25px" alt="">
                                        <img src="/assets/images/icon/icons8-star-48.png" height="25px" alt="">
                                        <img src="/assets/images/icon/icons8-star-48.png" height="25px" alt="">
                                        <img src="/assets/images/icon/icons8-star-48.png" height="25px" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 g-4">
                    <div class="card h-100 shadow-sm rounded-4">
                        <img src="/assets/images/photo/7.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text_1 text_start">I absolutely love my Maize hoodie! The quality is
                                outstanding, and it
                                keeps
                                me warm and cozy during the colder months. Highly recommend!
                            </p>
                            <div class="name_star">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5 class="box_text">John Smith</h5>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="/assets/images/icon/icons8-star-48.png" height="25px" alt="">
                                        <img src="/assets/images/icon/icons8-star-48.png" height="25px" alt="">
                                        <img src="/assets/images/icon/icons8-star-48.png" height="25px" alt="">
                                        <img src="/assets/images/icon/icons8-star-48.png" height="25px" alt="">
                                        <img src="/assets/images/icon/icons8-star-48.png" height="25px" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="seventh">
        <h1 class="customer_styling_inspiration py-5">Customer Styling Inspiration</h1>
        <p class="we_create">We created this section withVIBE Shoppable Instagram Feedapp</p>

        <div class="container">
            <div class="card-group">
                <div class="card">
                    <img src="/assets/images/photo/8.webp" class="card-img-top" alt="...">
                </div>
                <div class="card">
                    <img src="/assets/images/photo/9.webp" class="card-img-top" alt="...">
                </div>
                <div class="card">
                    <img src="/assets/images/photo/10.webp" class="card-img-top" alt="...">
                </div>
                <div class="card">
                    <img src="/assets/images/photo/11.webp" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card-group">
                <div class="card">
                    <img src="/assets/images/photo/12.webp" class="card-img-top" alt="...">
                </div>
                <div class="card">
                    <img src="/assets/images/photo/13.webp" class="card-img-top" alt="...">
                </div>
                <div class="card">
                    <img src="/assets/images/photo/14.webp" class="card-img-top" alt="...">
                </div>
                <div class="card">
                    <img src="/assets/images/photo/15.webp" class="card-img-top" alt="...">
                </div>
            </div>
        </div><br><br>
        <div class="d-grid gap-2 col-3 mx-auto  button_see_more">
            <button class="see_more">SEE MORE</button><br><br>
        </div>
    </div>
    <div class="last_page" style="background-color: #666666;">
        <h1 class="subscribe_for_exclusive_updates py-5">Subscribe For Exclusive Updates</h1>
        <p class="Get_early">Get early access, special offers, and the latest releases. Join now and elevate your hoodie
            game!</p>
        <br><br>
        <div class=" input">
            <input type="text" placeholder="Enter Your Email" class="w-50 p-3 rounded-4">
            <button class="subscribe_now">Subscribe Now!</button>
        </div><br>


        <div class="last_font">
            <img src="/assets/images/icon/icons8-facebook-50.png" height="40px" alt="">&nbsp;&nbsp;
            <img src="/assets/images/icon/icons8-insta-50.png" height="40px" alt="">&nbsp;&nbsp;&nbsp;
            <img src="/assets/images/icon/icons8-twitter-50.png" height="40px" alt="">
        </div><br><br><br>
    </div>

    <div class="colorr">

    </div>


</body>

</html>